body{
	background: linear-gradient(to bottom left, #6600cc 0%, #993399 100%);






}
/*#calBack{
	background-color: #fff;
	width: 400px;
	height: 400px;
}*/

/*table{
	
	border-collapse: collapse;
	width: 300px;
}*/


.container{
	
	text-align: center;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#gradient{
	  /*background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));*/
/*background: linear-gradient(-90deg, red, yellow);*/
/*background: linear-gradient(to top, #333, #333 50%, #eee 75%, #333 75%);*/
  /*background-attachment: fixed;*/
}


input[type=button]{
	border: none;
	background-color: transparent;
	font-size: 20px ;
	


}